.equalHeightRow {
  display: flex;
  flex-wrap: wrap;
}

.equalHeightCol {
  display: flex;
  flex-direction: column;
}

.equalHeightCol > * {
  height: 100%;
}

.equalHeightCard {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.equalHeightCardContent {
  flex: 1;
  display: flex;
  flex-direction: column;
}
